{% extends 'base.html.twig' %}

{% block title %}New Site{% endblock %}

{% block main %}
    <br>

    <div class="container">
        <h3>Créer ton nouveau site (comme Dark Sidious)</h3>
    {{ include('site/_form.html.twig') }}

    <a href="{{ path('site_index') }}">Retour à la liste des sites</a>
    </div>
{% endblock %}
