body {
    /*background-image:  url("images/montreal.jpg");*/
    /*background-color: #494737;*/
    /*background-size: cover;*/
    /*background-attachment: scroll;*/
    color: black!important;
    background-image: linear-gradient(to right, #8ab5e5, #8cbde8, #90c5eb, #96cded, #9dd5ef, #a7daf0, #b1dff1, #bbe4f2, #c9e8f2, #d6ecf3, #e3eff3, #f0f3f4);
}
.container {
    background-color: #D3D3D3;
    min-height: 100vh;
    border-radius: 25px;
    color:#494737!important;
}
h4, h3{
    color: black;
    font-style: italic;
}
.bordure {
    border-radius: 25px;
    color: blue!important;
    background-image:  url("images/singapour.jpg");
}
.coco {
    /*background-image:  url("images/montreal.jpg");*/
    color: blue!important;
}
.photo {
    display: block;
    margin: auto;
    text-align: center;
}
.cadre {
    border:2px solid black;
    -moz-border-radius:10% / 50%;
    -webkit-border-radius:10% / 50%;
    border-radius:10% / 50%;
}
.zozo {
    color: blue!important;
}
.navbar-nav li a{
    color: blue!important;
}
a {
    color: black;
}
.dropdown-menu{
    /*background:rgba(255,255,255,0.5);*/
    background-color: #5eb5e0;
    color: blue!important;
}
.dropdown-item {
    color: blue!important;
}
.bgdiv {
    /*background-color: #D3D3D3;*/
    background-color: transparent;
    height: 100vh;
    border-radius: 25px;
}
.montreal {
    background-image:  url("images/montreal.jpg");
}