body {
    /*background-image:  url("images/montreal.jpg");*/
    /*background-color: #494737;*/
    background-size: cover;
    background-attachment: scroll;
    color: #AFAC99!important;
}
.container {
    background-color: #D3D3D3;
    min-height: 100vh;
    border-radius: 25px;
    color:#494737!important;
}
h4, h3{
    color: black;
    font-style: italic;
}
.bordure {
    border-radius: 25px;
    color: #AFAC99!important;
}
.coco {
    /*background-image:  url("images/montreal.jpg");*/
    color: #D3D3D3!important;
}
.photo {
    display: block;
    margin: auto;
    text-align: center;
}
.cadre {
    border:2px solid black;
    -moz-border-radius:10% / 50%;
    -webkit-border-radius:10% / 50%;
    border-radius:10% / 50%;
}
.zozo {
    color: #AFAC99!important;
}
.navbar-nav li a{
    color:#AFAC99 !important;
}
a {
    color: black;
}
.dropdown-menu{
    background-color: darkslategrey;
    color: #AFAC99;
}
.dropdown-item {
    color: #AFAC99;
}
.bgdiv {
    /*background-color: #D3D3D3;*/
    background-image: linear-gradient(to left, #f0d6e5, #e4d0e2, #d7cade, #cac5d8, #bebfd2, #b6b9d9, #adb4df, #a3afe6, #a9a5f8, #bc95ff, #d980ff, #fb5ffb);
    color: #AFAC99;
    height: 100vh;
    border-radius: 25px;
}
.montreal {
    background-image:  url("images/montreal.jpg");
}