
<form method="post" action="{{ path('trip_delete', {'id': trip.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trip.id) }}">
    <button class="btn">Supprimer</button>
</form>
