{% extends 'base.html.twig'%}

{% block main %}
<h1>{{ trip.name }}</h1>
<p> Le {{ trip.startDateTime | date("d/m/Y à h:i" ) }} jusqu'à {{ trip.startDateTime | date("d/m/Y à h:i" ) }}</p>
    <p> Nombre de personnes maximum : {{ trip.maxRegistration }}</p>
{% endblock %}