{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}

{% block main %}
    <br>
    <div class="container-fluid bgdiv">
        <h3>Créer sa nouvelle sortie </h3>

        {{ include('trip/_form.html.twig') }}
        <br>
        <hr/>
        <a class="btn btn-info" href="{{ path('trip_index') }}">Retour à la liste</a>


    </div>
{% endblock %}
