{% extends 'base.html.twig'%}

{% block main %}
    <h1> Modifier ma sortie:</h1>
    {{  form_start(tripForm) }}
    {{ form_widget(tripForm) }}
    <button type="submit">Valider</button>
    {{ form_end(tripForm) }}
{% endblock %}