{% extends "base.html.twig" %}

{% block title %}Liste des sorties{% endblock %}

{% block main %}
    <div class="container-fluid">
        <br>
        <h4>Voici la liste des sorties sur Sortir.com</h4>
    </div>

{% endblock %}