{% extends 'base.html.twig' %}


{% block main %}
    <br>
    <div class="container">
        <h3>Créer une nouvelle ville (vive Sim City)</h3>
        {{ include('site/_form.html.twig') }}

        <a href="{{ path('city_index') }}">Retour à la liste des villes</a>
    </div>
{% endblock %}
