{% extends 'base.html.twig' %}


{% block main %}
    <h1>Gérer les villes</h1>
    {{ form_start(form) }}
<table class="table table-striped">
    <tr>
        <td>{{ form_row(form.name)}}</td>
        <td>{{ form_row(form.postalCode)}}</td>
        <td><button type="submit">Valider</button>
    </tr>
</table>
    {{ form_end(form) }}
{% endblock %}
