{% extends 'base.html.twig' %}


{% block main %}
    <br>
    <div class="container">
    <h3>Gérer les villes</h3>
<table class=" container table table-striped">
    <tr>
        <td>{{ form_row(form.name)}}</td>
        <td>{{ form_row(form.postalCode)}}</td>
        <td><button type="submit">Valider</button>
    </tr>
</table>
    {{ form_end(form) }}
    </div>
{% endblock %}
