{% extends 'base.html.twig' %}

{% block title %}Editer un lieu{% endblock %}

{% block main %}
    <br>
    <div class="container-fluid bgdiv">
    <h1>Editer un lieu</h1>

    {{ include('spot/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info" href="{{ path('spot_index') }}">Retour à la liste</a>

    {{ include('spot/_delete_form.html.twig') }}
    </div>
{% endblock %}
