{% extends 'base.html.twig' %}

{% block title %}Edit Spot{% endblock %}

{% block main %}
    <h1>Edit Spot</h1>

    {{ include('spot/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('spot_index') }}">back to list</a>

    {{ include('spot/_delete_form.html.twig') }}
{% endblock %}
