{% extends 'base.html.twig' %}

{% block title %}Nouveau lieu{% endblock %}

{% block main %}
    <br>
    <div class="container-fluid bgdiv">
    <h1>Créer un nouveau lieu</h1>

    {{ include('spot/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('spot_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
