{% extends 'base.html.twig' %}

{% block title %}New Spot{% endblock %}

{% block main %}
    <h1>Create new Spot</h1>

    {{ include('spot/_form.html.twig') }}

    <a href="{{ path('spot_index') }}">back to list</a>
{% endblock %}
