{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}
{% block main %}
    <h1>Enregistre ton super profil et deviens un supero-héros !!</h1>

    <div class="container">
        {{ form_start(editRegister) }}
        {{ form_widget(editRegister) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(editRegister) }}
    </div>
{% endblock %}