{% extends "base.html.twig" %}
{% block title %}Inscription{% endblock %}

{% block main %}
    <br>
    <div class="container-fluid bgdiv">
        <h4>Veuillez remplir les champs ci-dessous pour finaliser votre inscription.</h4>
        {{ form_start(formRegister) }}
        {{ form_widget(formRegister) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(formRegister) }}
    </div>

{% endblock %}