{% extends "base.html.twig" %}
{% block title %}Inscription{% endblock %}

{% block main %}
    <br>
    <div class="container-fluid bgdiv">
        <h4>Veuillez remplir les champs ci-dessous pour finaliser votre inscription.</h4>
        {{ form_start(formRegister) }}
        {{ form_widget(formRegister) }}
        <button type="submit" class="btn btn-success">Enregistrer</button>
        <a class="btn btn-primary ml-2" href="{{ path('trip_index') }}">Retour</a>
        {{ form_end(formRegister) }}
    </div>


{% endblock %}