{% extends "base.html.twig" %}
{% block title %}Inscription{% endblock %}

{% block main %}
    <div>
        <h4>Veuillez remplir les champs ci-dessous pour finaliser votre inscription.</h4>
    </div>

{% endblock %}